<div class="container" style="margin-top: 30px">
  <div class="jumbotron">
    <h1 class="display-3">Top Developers in UYO</h1>
    <p class="lead">This app shows a list of Top Nigerian Developers based on various Programming languages.</p>
    <hr class="my-4">
    <p>It uses Github API for its references.</p>
    <p> I learnt how to build this using <a href="www.scotch.io">Scotch</a>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="https://developer.github.com/v3/" target="_blank" role="button">Learn more</a>
    </p>
  </div>
</div>